__pycache__/
*.pyc
.venv/
venv/
.env
.vscode/

database/market_data/stocks/*.csv
!database/market_data/stocks/AAPL.csv
!database/market_data/stocks/MSFT.csv
!database/market_data/stocks/TSLA.csv
!database/market_data/stocks/AMZN.csv
!database/market_data/stocks/GOOGL.csv
!database/market_data/stocks/NVDA.csv
!database/market_data/stocks/NFLX.csv
!database/market_data/stocks/JPM.csv
!database/market_data/stocks/UBER.csv
!database/market_data/stocks/SPOT.csv
